.pdf-toolbar {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 5px;
	background-color: #2e2e2e;
	color: white;
	border-bottom: 1px solid #444;
	z-index: 1000;
}

.pdf-toolbar-button {
	margin: 0 5px;
	padding: 5px 10px;
	background-color: #444;
	color: white;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

.pdf-toolbar-button:hover {
	background-color: #555;
}
/*.text-overlay {*/
/*	position: absolute;*/
/*	background: white;*/
/*	border: 1px solid #ccc;*/
/*	padding: 5px;*/
/*	cursor: move;*/
/*	z-index: 10; !* S'assurer qu'il est au-dessus du contenu PDF *!*/
/*	pointer-events: auto; !* Permettre les clics sur le texte *!*/
/*}*/
.text-overlay {
	z-index: 10;
	pointer-events: auto;
	font-size: 14px;
	resize: none;
	background-color: rgba(255, 255, 255, 0.8); /* Apparence semi-transparente */
	border: 2px dashed #0078d7; /* Contour en pointillé bleu */
	border-radius: 4px; /* Coins arrondis */
	cursor: move; /* Icône de déplacement */
}

.text-overlay .drag-handle {
	position: absolute;
	right: -10px; /* Position sur le bord droit */
	top: 50%; /* Centré verticalement */
	width: 10px;
	height: 20px;
	background-color: #0078d7; /* Bleu pour ressembler à Edge */
	cursor: grab; /* Icône pour saisir la poignée */
	border-radius: 2px;
	transform: translateY(-50%); /* Centrage vertical ajusté */
}
.custom-text-zone {
	font-family: Arial, sans-serif;
	font-size: 14px;
	color: #000;
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid #ccc;
	padding: 4px;
	resize: both;
}

.static-text-zone {
	font-family: Arial, sans-serif;
	font-size: 14px;
	color: #000;
	background-color: transparent;
	border: none;
	padding: 0;
	margin: 0;
	pointer-events: none;
	user-select: none;
}

.delete-button {
	position: absolute;
	top: -20px; /* Ajuste selon ton design */
	right: -20px; /* Ajuste selon ton design */
	background-color: #ff4d4d; /* Couleur de fond du bouton */
	color: white; /* Couleur de l'icône */
	border: none; /* Supprime la bordure */
	border-radius: 20%; /* Rendre le bouton rond */
	cursor: pointer; /* Curseur de la souris */
	width: 30px; /* Largeur du bouton */
	height: 30px; /* Hauteur du bouton */
	display: flex; /* Utiliser Flexbox */
	justify-content: center; /* Centrer horizontalement l'icône */
	align-items: center; /* Centrer verticalement l'icône */
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Ombre pour un effet 3D */
	transition: transform 0.2s, box-shadow 0.2s; /* Animations */
	font-size: 16px; /* Taille de l'icône */
	line-height: 1; /* Empêcher tout décalage */
}

.delete-button:hover {
	transform: scale(1.2); /* Agrandir légèrement au survol */
	box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3); /* Augmenter l'ombre */
	background: #ff0000; /* Couleur rouge plus vive */
}

.delete-button:active {
	transform: scale(1); /* Réduction lors du clic */
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Ombre réduite */
}

